body{
    font-family: Verdana;
    text-align: center;
    font-size: 1em;
}
button{
    padding: 10px 20px ;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.78s;
}
button:hover{
    background-color: hwb(214 12% 0%);
}